$color-red: rgb(235, 122, 122);
$color-blue: rgb(77, 180, 231);
$color-yellow: rgb(221, 199, 90);
$color-gray: rgb(187, 185, 185);
$color-grass: rgb(206, 240, 106);
$type-grass: rgb(168, 201, 69);
$type-electric: rgb(238, 206, 79);
$type-poison: rgb(201, 141, 199);
$type-fire: rgb(241, 122, 95);
$type-flying: rgb(110, 172, 226);
$type-water: rgb(95, 181, 221);
$type-bug: rgb(122, 197, 114);
$type-normal: rgb(189, 189, 189);
$type-ground: rgb(211, 180, 100);
$type-fairy: rgb(234, 129, 193);
$type-fighting: rgb(242, 168, 99);
$type-psychic: rgb(238, 150, 186);
$type-rock: rgb(194, 150, 117);
$type-steel: rgb(161, 161, 161);
$type-ice: rgb(94, 205, 232);
$type-ghost: rgb(135, 132, 189);
$type-dragon: rgb(127, 148, 204);
$type-dark: rgb(116, 89, 68);
