@import '../../stylesheet/colors';

.screen {
  background-color: rgb(244, 230, 205);
}

.pokemon-list {
  .pokemon {
    display: flex;
    justify-content: space-between;
    padding: 48px;
    border-left: 32px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;

    &:nth-child(2n) {
      background-color: rgb(242, 227, 197);

      &:active,
      &.hover {
        background-color: rgb(232, 207, 155);
      }
    }

    &:nth-child(2n+1) {
      background-color: rgb(247, 237, 218);

      &:active,
      &.hover {
        background-color: rgb(237, 217, 176);
      }
    }

    .information {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .title {
        font-size: 28px;
        color: #444;

        &.invalid {
          color: #aaa;
        }

        .id {
          font-size: 20px;
          font-weight: bold;
        }

        .name {
          margin-left: 10px;
        }
      }

      .type-list {
        display: flex;
        margin-top: 30px;

        .type {
          margin-right: 16px;
        }
      }
    }

    .picture {
      display: flex;

      .avatar,
      .sprite {
        width: 96px;
        height: 126px;
        border: 4px solid #fff;
        border-radius: 16px;

        image {
          width: 100%;
          height: 100%;
          max-width: 100%;
          border-radius: 16px;
        }
      }
    }
  }
}

.capsule {
  text-transform: capitalize;
  font-size: 20px;
  line-height: 16px;
  padding: 8px 32px;
  background-color: #ddd;
  color: #fff;
  border-radius: 16px;
  text-align: center;
  box-sizing: border-box;
  margin-right: 10px;

  &.type-grass {
    background-color: $type-grass;
  }

  &.type-electric {
    background-color: $type-electric;
  }

  &.type-poison {
    background-color: $type-poison;
  }

  &.type-fire {
    background-color: $type-fire;
  }

  &.type-flying {
    background-color: $type-flying;
  }

  &.type-water {
    background-color: $type-water;
  }

  &.type-bug {
    background-color: $type-bug;
  }

  &.type-normal {
    background-color: $type-normal;
  }

  &.type-ground {
    background-color: $type-ground;
  }

  &.type-fairy {
    background-color: $type-fairy;
  }

  &.type-fighting {
    background-color: $type-fighting;
  }

  &.type-psychic {
    background-color: $type-psychic;
  }

  &.type-rock {
    background-color: $type-rock;
  }

  &.type-steel {
    background-color: $type-steel;
  }

  &.type-ice {
    background-color: $type-ice;
  }

  &.type-ghost {
    background-color: $type-ghost;
  }

  &.type-dragon {
    background-color: $type-dragon;
  }

  &.type-dark {
    background-color: $type-dark;
  }
}

.scrollview {
  height: 100vh;
}

.filter-button, .top-button {
  background: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 55%);
  height: 72px;
  padding: 0 1em;
  line-height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid hsl(0, 0%, 75%);
  border-radius: 16px;
  box-shadow: 0 8px 0 hsl(0, 0%, 75%), 0 16px 0 rgba(0, 0, 0, 0.25), 0 0 24px 4px rgba(0, 0, 0, 0.1);
  font-size: 28px;
  margin: 0 16px 32px;
  text-decoration: none;

  &:active,
  &.hover {
    background: hsl(0, 0%, 90%);
  }
}

.filter-button {
  position: fixed;
  bottom: 48px;
  right: 40px;
}

.top-button {
  position: fixed;
  bottom: 48px;
  right: 160px;
  opacity: 0;
}

//进场前的瞬间
.toolbar-botton {
  position: fixed;
  bottom: 48px;
  right: 40px;
}
.toolbar-botton-enter,
.toolbar-botton-appear {
  opacity: 0;
  transform: translateY(20%);
}

//进场过程中
.toolbar-botton-enter-active,
.toolbar-botton-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all .4s ease;
}

//进场之后
.toolbar-botton-enter-done {
  opacity: 1;
  transform: translateY(0);
}

//离开前的瞬间
.toolbar-botton-exit {
  opacity: 1;
  transform: translateY(0);
}

//离开过程中
.toolbar-botton-exit-active {
  opacity: 0;
  transform: translateY(20%);
  transition: all .4s ease;
}

//离开后
.toolbar-botton-exit-done {
  opacity: 0;
  transform: translateY(20%);
}

.filter-button-test {
  position: fixed;
  bottom: 200px;
  right: 200px;
}