
.energy {
  width: 50px;
  height: 50px;
  background-size: contain;

}

.energy-grass {
  background-image: url('../../assets/energy_10.png');
}

.energy-colorless {
  background-image: url('../../assets/energy_2.png');
}

.energy-fire {
  background-image: url('../../assets/energy_1.png');
}

.energy-water {
  background-image: url('../../assets/energy_12.png');
}

.energy-lightning {
  background-image: url('../../assets/energy_11.png');
}

.energy-psychic {
  background-image: url('../../assets/energy_8.png');
}

.energy-fighting {
  background-image: url('../../assets/energy_7.png');
}

.energy-darkness {
  background-image: url('../../assets/energy_9.png');
}

.energy-metal {
  background-image: url('../../assets/energy_4.png');
}

.energy-fairy {
  background-image: url('../../assets/energy_3.png');
}

.energy-dragon {
  background-image: url('../../assets/energy_5.png');
}